<div class="layout-container">
    <div class="sidebar">
        <app-sidebar [sidebarData]="sidebarData" (dataToParent)="onSidebarDataReceived($event)" (dataToParentStateNameOnly)="onSidebarDataReceivedStateNameOnly($event)">
        </app-sidebar>
    </div>
    <div class="main-content">
        <!-- <app-county-map [dataFromSidebar]="dataFromSidebar"
                (dataToSidebar)="onCountyMapDataReceived($event)"></app-county-map> -->

        <!-- <app-leaflet-map [dataFromSidebar]="dataFromSidebar" [dataFromSidebarStateNameOnly]="dataFromSidebarStateNameOnly"
        (dataToSidebar)="onCountyMapDataReceived($event)"></app-leaflet-map> -->
   
        <app-leaflet-map-lambda-api [dataFromSidebar]="dataFromSidebar" [dataFromSidebarStateNameOnly]="dataFromSidebarStateNameOnly"
        (dataToSidebar)="onCountyMapDataReceived($event)"></app-leaflet-map-lambda-api>
    </div>
</div>