<div class="p-3" style="width: 280px; height: 100vh; background-color: #f9f9f9; border-radius: 8px;">
    <a mat-button routerLink="/" class="title-container">
        <span class="mat-h5 font-weight-semibold dashboard-title">DASHBOARD</span>
    </a>

    <mat-accordion class="no-shadow" multi>
        <label id="radio-group-label">Map Overlay: </label>
        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
            [(ngModel)]="selectedOverlay" (change)="onChangeOverlay()">
            <mat-radio-button *ngFor="let overlay of overlays;" class="example-radio-button" [value]="overlay">
                {{ overlay }}
            </mat-radio-button>
        </mat-radio-group>
        <!-- <br>
        <mat-form-field class="example-margin" appearance="outline">
            <mat-label>Focus</mat-label>
            <input matInput [(ngModel)]="stateName" placeholder="e.g. California" (keydown.enter)="sendData()">
            <button *ngIf="stateName" matSuffix mat-icon-button aria-label="Clear" (click)="stateName=null">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field> -->
        <br>
        <mat-form-field class="example-margin chipField" appearance="outline">
            <mat-label>Focus</mat-label>
            <mat-chip-list #chipList aria-label="Selected States">
                <mat-chip *ngFor="let state of stateNameArr; let i = index" [selectable]="true" [removable]="true"
                    (removed)="removeState(i)">
                    {{ state }}
                    <mat-icon matChipRemove>close</mat-icon>
                </mat-chip>
            </mat-chip-list>
            <input #inputField matInput [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="addState($event)" placeholder="e.g. CA">
        </mat-form-field>

        <!-- <mat-form-field class="example-margin chipField" appearance="outline">
            <mat-label>Focus</mat-label>
            <mat-chip-list #chipList aria-label="Selected States">
                <mat-chip *ngFor="let state of stateName; let i = index" [selectable]="true" [removable]="true"
                    (removed)="removeState(i)">
                    {{ state }}
                    <mat-icon matChipRemove>close</mat-icon>
                </mat-chip>
            </mat-chip-list>

            <input matInput #stateInput [formControl]="stateCtrl" [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="false"
                (matChipInputTokenEnd)="addState($event)" [matAutocomplete]="auto" placeholder="e.g. CA" />

            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectState($event)">
                <mat-option *ngFor="let state of filteredStates | async" [value]="state">
                    {{ state }}
                </mat-option>
            </mat-autocomplete>

        </mat-form-field> -->


        <button mat-button class="btn-toggle align-items-center rounded treeButton" [attr.aria-expanded]="true"
            (click)="showMore('cols')">
            Projects
        </button>
        <div style="padding-left: 16px">
            <button mat-button class="btn-toggle align-items-center rounded treeButton" [attr.aria-expanded]="true"
                (click)="showMore('colsA')">
                Project A
            </button>
            <div *ngIf="showColsA">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small" style="padding-left: 16px; margin: 0;">
                    <li *ngFor="let col of (showMoreColsA ? columnsA : columnsA.slice(0, 5)); let i = index"
                        style="list-style: none; margin: 4px 0;">
                        <mat-checkbox *ngIf="col.name !== '--'" [(ngModel)]="col.checked" style="display: block;"
                            [color]="i === 0 ? 'warn': (i === 1? 'primary':'accent')"
                            (change)="onCheckboxChange(i, col.checked, col.name)" class="wrap-checkbox">
                            {{ groceryDataDictionary[col.name] ? groceryDataDictionary[col.name]['description'] : col.name}}
                        </mat-checkbox>
                    </li>
                </ul>
                <p *ngIf="columnsA.length > 5" class="showmore-paragraph"><button class="showmore-button"
                        (click)="showMore('colsA')">{{showMoreColsA ?
                        'Show less...':'Show more...'}} </button></p>
            </div>
            <br>
            <button mat-button class="btn-toggle align-items-center rounded treeButton" [attr.aria-expanded]="true"
                (click)="showMore('colsB')">
                Project B
            </button>
            <div *ngIf="showColsB">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small" style="padding-left: 16px; margin: 0;">
                    <li *ngFor="let col of (showMoreColsB ? columnsB : columnsB.slice(0, 5)); let i = index"
                        style="list-style: none; margin: 4px 0;">
                        <mat-checkbox *ngIf="col.name !== '--'" [(ngModel)]="col.checked" style="display: block;"
                            [color]="i === 0 ? 'warn': (i === 1? 'primary':'accent')"
                            (change)="onCheckboxChange(i, col.checked, col.name)" class="wrap-checkbox">
                            {{ carmenDataDictionary[col.name] ? carmenDataDictionary[col.name]['description'] : col.name}}
                        </mat-checkbox>
                    </li>
                </ul>
                <p *ngIf="columnsB.length > 5" class="showmore-paragraph"><button class="showmore-button"
                        (click)="showMore('colsB')">{{showMoreColsB ?
                        'Show less...':'Show more...'}} </button></p>
            </div>
        </div>


    </mat-accordion>

    <div class="button-container">
        <button mat-raised-button color="primary" (click)="sendData()" class="update-button">
            Update
        </button>
    </div>
    <!-- <button mat-raised-button color="accent" (click)="downloadImage()" class="download-button">
        Download Image <mat-icon class="download-icon">image</mat-icon>
    </button> -->
    <!-- <button mat-raised-button color="accent" (click)="shareLink()" class="download-button">
        Share <mat-icon class="download-icon">link</mat-icon>
    </button> -->
</div>