<app-loading-spinner *ngIf="isLoading && !isTimelinePlaying"></app-loading-spinner>
<div id="map-container" style="height: calc(100vh - 56px); width: 100%;"></div>
<div class="timelineBar">
    <div *ngIf="showYears">
        <div class="slider-map">
            {{minYear}}
            <mat-slider thumbLabel [tickInterval]="1" [step]="1" [min]="minYear" [max]="maxYear" aria-label="units"
                [(ngModel)]="selectedYear" (ngModelChange)="onYearChange($event)" [ngClass]="{ 'disabled-slider': isTimelinePlaying }">
            </mat-slider>
            {{maxYear}}

            <i class="fa-solid timeline-icons" [ngClass]="isTimelinePlaying ? 'fa-pause' : 'fa-play'"
                (click)="playTimeline()" [title]="isTimelinePlaying ? 'Pause the timeline' : 'Play the timeline'">
            </i>
        </div>
    </div>
</div>