<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
<div id="map-container" style="height: calc(100vh - 56px); width: 100%;"></div>
<div class="timelineBar">
    <div *ngIf="showYears">
        <div class="slider-map">
            {{minYear}}
            <mat-slider thumbLabel [tickInterval]="2" [step]="1" [min]="minYear" [max]="maxYear" aria-label="units"
                [(ngModel)]="selectedYear" (ngModelChange)="onYearChange($event)">
            </mat-slider>
            {{maxYear}}
        </div>
    </div>
</div>
