#map-container {
    width: 100vw;
    height: 100vh;
}
.timelineBar {
    width: 100vw;
    height: 50px;
    position: fixed;
    bottom: 0;
    background-color: #f9f9f9;
    z-index: 999;
}

.slider-map {
    padding-left: 10vw;
}

::ng-deep {
    .mat-slider-thumb-label {
        transform: rotate(45deg) !important;
        border-radius: 50% 50% 0 !important;
    }
    .mat-slider-thumb {
        transform: scale(0) !important;
    }
    .mat-slider-thumb-label-text {
        opacity: 1 !important;
        font-size: 8px;
        font-weight: bold;
    }
    .mat-radio-label {
        margin-bottom: 5px !important;
    }

    .slider-map .mat-slider-horizontal {
        min-width: 50vw !important;
    }

    *:focus {
        outline: 0;
    }
    .leaflet-control-layers {
        z-index: 1000;
    }

    .d3-legend-container {
        background: transparent;
        padding: 10px;
        border-radius: 5px;
        transform: rotate(-45deg);
        transform-origin: center;
    }

    .d3-legend-container2 {
        background: white;
        transform-origin: center;

        padding: 0px 5px 5px 5px;
        border-radius: 5px;
        border: solid 1px grey;
    }

    .d3-legend-container3 {
        background: white;
        transform-origin: center;
        padding: 0px 5px 5px 5px;
        border-radius: 5px;
        border: solid 1px grey;
    }

    #legend-container {
        position: absolute;
        bottom: 10px;
        right: 0px;
        background: white;
        padding: 0px 3px 5px 5px;
        border-radius: 5px;
        border: solid 1px grey;
    }

    .legend-title {
        font-size: 10px;
        font-weight: bold;
    }

    .legend-circle {
        r: 4; /* Radius for all circles */
    }

    .legend-text {
        font-size: 8px;
    }

    .spike {
        z-index: 999 !important;
        pointer-events: none; /* Ensures spikes don't interfere with map clicks */
    }

    .leaflet-control-custom {
        background: white;
        border: 2px solid gray;
        border-radius: 4px;
        padding: 5px;
        font-size: 18px;
        text-align: center;
    }
    .leaflet-control-custom:hover {
        background: lightgray;
        cursor: pointer;
    }

    .leaflet-control-reset {
        width: 30px; /* Matches Leaflet buttons */
        height: 30px; /* Matches Leaflet buttons */
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-size: 18px; /* Reduce font size for the icon */
        line-height: 0; /* Helps center the icon */
        border: 2px solid rgba(0, 0, 0, 0.2);
        border-radius: 2px; /* Matches Leaflet buttons */
        background-color: white;
        padding: 0; /* Removes extra spacing */
        margin-top: 0px;
    }

    .leaflet-control-reset:hover {
        background-color: #f4f4f4; /* Slightly darker background */
    }

    .leaflet-tooltip {
        z-index: 1000 !important;
      }
}
