#map-container {
    width: 100vw;
    height: 100vh;
}
.timelineBar {
    width: 100vw;
    height: 50px;
    position: fixed;
    bottom: 0;
    background-color: #f9f9f9;
    z-index: 999;
}

.slider-map {
    padding-left: 10vw;
}

::ng-deep {
    .mat-slider-thumb-label {
        transform: rotate(45deg) !important;
        border-radius: 50% 50% 0 !important;
    }
    .mat-slider-thumb {
        transform: scale(0) !important;
    }
    .mat-slider-thumb-label-text {
        opacity: 1 !important;
        font-size: 8px;
        font-weight: bold;
    }
    .mat-radio-label {
        margin-bottom: 5px !important;
    }

    .slider-map .mat-slider-horizontal {
        min-width: 50vw !important;
    }

    *:focus {
        outline: 0;
    }
    .leaflet-control-layers {
        z-index: 1000;
    }

    .d3-legend-container {
        background: transparent;
        padding: 10px;
        border-radius: 5px;
        transform: rotate(-45deg);
        transform-origin: center;
    }

    .d3-legend-container2 {
        background: transparent;
        padding: 10px;
        border-radius: 5px;
        // transform: rotate(-45deg);
        transform-origin: center;
    }
}
